:root {
    --header-size: 50px;
    --color-base: #1e1e2e;
    --color-text: #cdd6f4;
    --color-accent: #f5c2e7;
}

body {
    background-color: var(--color-base);
    color: var(--color-text);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100svh;
    padding: 0;
    overflow: hidden;
}

header.top-header {
    color: #cdd6f4;
    background-color: var(--color-base);
    border-bottom: 1px solid var(--color-accent);
    display: flex;
    flex-direction: row;
    height: var(--header-size);
    justify-content: space-between;
    overflow-y: hidden;
    padding-bottom: 5px;
    text-align: center;
    width: 100%;
}

.top-header > * {
    width: 20%;
    font-size: 18px;
    line-height: 55px;
    text-decoration: none;
    color: var(--color);
    margin: 0px;
}

#index {
    width: 55px;
    font-size: 40px;
    line-height: 55px;
    display: block;
    align-self: flex-start;
}

main {
    text-align: center;
    margin: 0px 50px;
    height: calc(100% - var(--header-size));
    overflow-x: hidden;
    scrollbar-width: none;
}

#cat {
    text-align: center;
    width: 50%;
    height: auto;
    margin: 10px;
}

#contacts {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacts > div {
    display: flex;
    align-items: center;
}

br {
    margin: 5px
}
