:root{
    --header-size: 55px;
}

h1 {
    font-size: 50px;
}

body {
    background-image: radial-gradient(#552e52,#160d14);
    color: #f5ebd0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100svh;
    padding: 0;
    overflow: hidden;
}

header.top-header {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: #4220339d;
    color: #e4b3cc;
    width: 100%;
    height: var(--header-size);
    overflow-y: hidden;
    border-bottom: 1px solid #291920;
    justify-content: space-between;
}

.top-header > * {
    width: 20%;
    line-height: 50px;
    text-decoration: none;
    color: var(--color);
    padding: 0px 20px;
    margin: 0px;
}

main {
    text-align: center;
    margin: 0px 50px;
    height: calc(100% - var(--header-size));
    overflow-x: hidden;
    scrollbar-width: none;
}

#cat {
    text-align: center;
    height: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

#index {
    padding: 2.5px 5px;
    line-height: 55px;
}

br {
    margin: 5px
}